.wrapper {
  display: flex;
  align-items: center;
  background-color: #101012;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column-reverse;
    padding: var(--mantine-spacing-xl);
  }
}

.image {
  max-width: 40%;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.body {
  padding-right: calc(var(--mantine-spacing-xl) * 4);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-right: 0;
    margin-top: var(--mantine-spacing-xl);
  }
}

.bodyflipped {
  padding-left: calc(var(--mantine-spacing-xl) * 4);
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: $mantine-breakpoint-sm) {
    padding-right: 0;
    margin-top: var(--mantine-spacing-xl);
  }
}

.title {
  color: white;
  line-height: 1;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.controls {
  display: flex;
  margin-top: var(--mantine-spacing-xl);
  font-weight: 100;
}

.controls button {
  background-color: #FBD506;
  color: #101012;
}

.inputWrapper {
  width: 100%;
  flex: 1;
}

.input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}